@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary_text_color:#183b56;
    --secondry_text_color:#577592;
    --accent_color:#2294ed;
    --accent_color_dark:#1d69a3;
    --padding_inline_section:20px;
}
body{
    font-family:"Poppins", sans-serif;
    color: var(--primary_text_color);

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.0rem;
}
h4{
    font-size: 1.2rem;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: var(--secondry_text_color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* Utility class */
.small_bold_text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline:auto ;
    padding-inline:var(--padding_inline_section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover_link{
    color: var(--primary_text_color);
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
}
.hover_link:hover{
    color: var(--accent_color);
}
.primary_button{
    background-color: var(--accent_color);
    font-weight: 700;
    border-radius: 6px;
    padding: 12px 24px;
    color: #fff !important;
    box-shadow: 0 0 2px var(--secondry_text_color);
    transition: 0.2s ease-in-out;
}
.primary_button:hover{
    background-color: var(--accent_color_dark);
}
.secondry_button{
    border: 2px black solid;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 700;
}
/* top-baner */
.baner_text{
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}
.top_baner{
    background-color: #4fb3d4;
    background-image: url('headre_usability.png');
    background-size: 250px;
   
}
.main_nav{
    margin-top: 20px;
    justify-content: space-between;

}
 
.nav_link ul{
    justify-content: end;
    gap:40px
}

/* header section */
.header{
    padding: 50px 20px 20px 0;
}
.header_section{
    justify-content: center;
    gap:50px
}
.header_text{
    width: 40vw;
}
.header_text_h1{
    margin-top: 20px;
}
.header_text_p{
   font-size: 20px;
}
.get_started_btn{
    margin-top: 20px;
}
.header_image{
    width: 600px;
}

/* company section  */
.company_section_text{
    margin-block: 20px;
    text-align: center;
    color: var(--primary_text_color);
}

.company_section_logo{
   justify-content: space-evenly;
}
.logo{
    height: 46px;
}

/* feature section  */


.feature_section {
    padding: 80px var(--padding_inline_section) 0;
    background-image: url('asset\ 32.svg');
    background-position: center;
    background-repeat: no-repeat;
    
}

.feature_section_top{
    text-align: center;
    margin-bottom: 40px;
}
.feature_section_top h2{
    margin-bottom: 20px;
}
.third_button{
    color: var(--primary_text_color);
    font-size: 1.2rem;
    border: 2px black solid;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.third_button:hover{
    color: var(--accent_color);
    border: 2px var(--accent_color)solid;

}
.feature_section_bottom{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: 290px; */
    gap:20px 50px

}
.feature_section_bottom_box{
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
}
.feature_section_logo{
    height: 80px;

}
.feature_section_bottom_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.advanced_feature{
    justify-content: center;

}
.advanced_feature_box_1_image{
         width: 600px;
}
.example_section_top{
    text-align: center;
}
.example_section_top_text_h1{
    color: var(--primary_text_color);
    margin-bottom: 20px;
}
.example_section_card{
    justify-content: space-between;
    margin-block: 30px;
    
}
.example_card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background:black;
    transition: 0.2s ease;
}
.example_card:hover{
    box-shadow: 0 0 10px #888;
}
.example_card:nth-child(1){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.7)),url('asset\ 35.jpeg');
    background-size: cover;
}
.example_card:nth-child(2){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.7)),url('asset\ 34.jpeg');
    background-size: cover;
}
.example_card:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.7)),url('asset\ 36.jpeg');
    background-size: cover;
}
.example_card:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.7)),url('');
    background-size: cover;
}
.card_text{
    position: absolute;
    bottom: 20px;
    font-size: 1.5rem;
    color: white;
    left: 20px;
    right: 20px;
}
.cta_section{
    padding: 120px var(--padding_inline_section) 80px;
    color: white;
    background-color: #183b54;
}
.cta_content{
    flex-direction: column;
    justify-content: center;
    gap:30px

}
.footer{
    padding-block: 80px;
    background-color:#EBF2FA;
}
.footer_company_logo img{
    max-width:200px;
}
.footer_content{
    display: flex;
    justify-content: space-between;
}
.footer_link_colunm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub_footer{
    padding-block:20px ;
    background-color:#B9CDE4;
}
.sub_footer_link{
    justify-content: center;
    gap:30px;
}
